<cdk-virtual-scroll-viewport itemSize="100" class="container">
    <div *cdkVirtualFor="let user of users" class="user">
       <a href="dashboard/{{user._id}}">
            <img src="{{findPath(user.image)}}" alt="User image">
            {{user.name}} {{user.surname}} 
        </a> 
    </div>
</cdk-virtual-scroll-viewport>
