.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

.top{
    overflow: hidden;
    min-height: 100vh
}

.addStory{
    height: 5004px;
}

.row{
    margin-bottom: 0 !important;
}

.vs {
    height: 700px;
}

::-webkit-scrollbar {
    display: none;
}

.prica {
    background-color: rgb(194, 189, 189)
}
