<div style="display: inline-block" *ngIf="!hideHeaderSearch">
    <div class="bm-ss-root">
        <a class="waves-effect waves-light bookm-a" (click)="onRunSearch()" (mouseover)="onSimpleSearchHover(true)" (mouseout)="onSimpleSearchHover(false)">
            <i class="material-icons left">search</i>
        </a>
        <div class="bm-ss-icon bookm-a" style="display:flex; align-items: center;" (click)="toggleSimpleSearch()">
            <i class="material-icons">filter_list</i>
        </div>
        <div class="bm-ss-col">
            <input 
                class="bm-ss-input {{searchInputVisible ? 'visible' : 'invisible'}}"
                type="text"
                style="overflow: scroll;"
                (keypress)="onInputKeypress($event)"
                (mouseover)="onMouseOverSearchField(true)"
                (mouseout)="onMouseOverSearchField(false)"
                (focus)="onSearchFieldFocus(true)"
                (blur)="onSearchFieldBlur()"
                (input)="onFieldChange($event)"
                [value]="fieldValue"
            >
            <div [ngClass]="progressClasses">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
    <div class="bm-ss-popup" [ngStyle]="popupStyle" (clickOutside)="onClickOutsidePopup()">
        <div (click)="onClosePopup()" class="bm-ss-icon"><i class="material-icons">close</i></div>
        <ul class="collection with-header" *ngIf="isSimpleSearch&&results.length!==0">
            <ng-template ngFor let-result [ngForOf]="results">
                <li class="collection-header" style="font-weight: 500;">{{result.header}}</li>
                <ng-template ngFor let-elem [ngForOf]="result.results">
                    <li class="collection-item avatar {{elem.image === undefined ? 'no-avatar' :''}}" style="overflow: hidden;">
                      <img *ngIf="elem.image !== undefined" src="{{elem.image}}" alt=" " class="circle">
                      <span class="title" style="font-weight: 500;">{{elem.title}}</span>
                        <br/>
                      <div style="display:inline-block;" class="hide-text-overflow" [innerHtml]="elem.description"></div>
                    </li>
                </ng-template>
            </ng-template>
        </ul>
        <p *ngIf="isSimpleSearch&&results.length===0" style="width: 300px;">
            No results..
        </p>
        <app-search *ngIf="!isSimpleSearch"></app-search>
    </div>
</div>