<div class="top">
    <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
    <div class="container">

        <app-add-story></app-add-story>

        <div *ngIf="content === 'stories'">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <button class="btn btn-link text-muted" (click)="changeContent()">Show reviews</button>
            </div>
            <br>

            <div *ngIf="stories.length == 0">
                <br>
                You have no stories to see, follow more people
            </div>

            <cdk-virtual-scroll-viewport itemSize="" class="vs">
                <div *cdkVirtualFor="let story of stories; let n=index;">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-content center-align">
                                <h3>{{story.title}}</h3>
                                <p>{{story.body}}</p>
                            </div>
                            <div class="card-action ">
                                <h3>Likes: <span style="color:blue; font-size:120%">{{howManyLikes(story)}}</span></h3>
                                <a class="btn red" [routerLink] = "['/dashboard',story.user._id]">See author</a>
                                <a class="btn-floating waves-effect waves-light red darken-3 right"
                                    (click)="dislikeStory(story._id)" *ngIf="storyIsLiked(story)"><i
                                        class="fas fa-thumbs-down"></i></a>
                                <a class="btn-floating waves-effect waves-light green darken-3 right"
                                    (click)="likeStory(story._id)" *ngIf="storyIsLiked(story) === false"><i
                                        class="fas fa-thumbs-up"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>

        <div *ngIf="content === 'reviews'">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <button class="btn btn-link text-muted" (click)="changeContent()">Show stories</button>
            </div>
            <br>

            <div *ngIf="reviews.length == 0">
                <br>
                You have no reviews to see, follow more people
            </div>
            
            <cdk-virtual-scroll-viewport itemSize="" class="vs">
                <div *cdkVirtualFor="let review of reviews; let n=index;">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-content center-align">
                                <a style="font-size:20px" [routerLink] = "['/book',review.book._id]">Book title: {{review.book.title}}</a>
                                <h4>Review rating: {{review.reviews.rating}}</h4>
                                <h3>Review title: {{review.reviews.title}}</h3>
                                <p>{{review.reviews.comment}}</p>
                            </div>
                            <div class="card-action center-align">
                                <a class="btn red" [routerLink]="['/dashboard',review.reviews.user]">See author</a>
                            </div>
                        </div>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>