.moreBtnContainer{
    display: table;
    margin: 10px auto 10px auto;
}

.submitStoryButtonContainer{
    display: table;
    margin: 10px auto 10px auto;
}

#readMoreBtn{
    display: table-cell;
    vertical-align: middle;
}

#submitStoryBtn{
    display: table-cell;
    vertical-align: middle;
}

.top{
    background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
 min-height: 100vh;
}

.card{
    background-color: rgb(194, 189, 189);
}

.vs {
    height: 700px;
}

::-webkit-scrollbar {
    display: none;
}
