.error-message{
    color:red !important;
}

.hidden{
    display: none;
}

.body{
    color: #fff;
}

.cover {
    background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.register{
    margin-top: 1%;
    width: 30%;
}

.register .card{
    background: rgba(0, 0, 0, .6);
}

.register label{
    font-size: 16px;
    color: #ccc;
}

.register input{
    font-size: 22px !important;
    color:#fff;
}

.register button:hover{
    padding: 0px 40px;
}

.btn{
    align-content: center;
}

.register-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}