<div class="cover">
<form class="row register" [formGroup]="checkoutForm" (ngSubmit)="submitForm(checkoutForm.value)" >
    <div class="col s12 14 offset-14">
        <div class="card">

            <div class="card-action red white-text">
                <h3>Register Form</h3>
            </div>

            <div class="card-content">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" formControlName="name">
                    <p class="error-message" *ngIf="name().errors?.required && submitted">Name is required!</p>
                </div> <br>

                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" id="surname" class="form-control" formControlName="surname">
                    <p class="error-message" *ngIf="surname().errors?.required && submitted">Surname is required!</p>
                </div> <br>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" formControlName="email">
                    <p class="error-message" *ngIf="email().errors?.required && submitted">Email is required!</p>
                    <p class="error-message" *ngIf="email().errors?.email && submitted">Email is not correct!</p>
                </div> <br>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" formControlName="username">
                    <p class="error-message" *ngIf="username().errors?.required && submitted">Username is required!</p>
                </div> <br>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" formControlName="password">
                    <p class="error-message" *ngIf="password().errors?.required && submitted">Password is required!</p>
                </div> <br>

                <div class="form-group">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" formControlName="confirmPassword">
                        <div *ngIf="submitted">
                           <p class="error-message" *ngIf="confirmPassword().errors?.required">Password is required!</p>
                           <p class="error-message" *ngIf="confirmPassword().errors?.differentPasswords">Password doesn't match!</p>
                        </div>
                </div> <br>

                 <div class="form-field center-align">
                     <button type="submit" class="btn-large red">Create account!</button>
                 </div><br>
            </div>                 
        </div>
    </div>
</form>
</div>