.root{
    padding: 2em 3em;
    display: inline-block;
}

.bookm-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
}
.bookm-wrapper > * {
    display: flex;
    margin-right: 1em;
    position: sticky;
    left: 0;
    top: 0;
}
.bookm-label{
    flex:0 !important;
}
.bookm-filter-wrapper{
    /* min-width: 25vw; */
    width: min-content;
    width: -webkit-min-content;

}
.bookm-filter-wrapper:has(*) {
    border: 1px solid lightgray;
}

.btn {
    background-color: #F44336 !important;
}

.btn:disabled{
    background-color: #757170 !important;
}
.bookm-card {
    display: inline-block;
    flex: 1;
    /* flex: 1; */
    /* min-width: 30%; */
    max-width: 50%; /*50%*/
    /* width: max-content; */
}

.container {
    background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.bm-results-wrapper{
    flex: 2; 
    flex-direction: column;
}

.input-field div.select-wrapper {
    background-color: #F44336;
}
