<div class="root">

    <div class="cont-left">
        <div class="admin-action" (click)="onAction('book')">
            Add book
        </div>
        <div class="admin-action" (click)="onAction('author')">
            Add author
        </div>
        <div class="admin-action" (click)="onAction('users')">
            Manage users
        </div>
    </div>
    <div class="cont-right">
        <app-add-book *ngIf="selectedAction==='book'"></app-add-book>
        <app-add-author *ngIf="selectedAction==='author'"></app-add-author>
        
    </div>
</div>