.bm-rc-container {
    margin: 0.5em;
    display: flex;
    height: 30vh;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal !important;
    /* flex-wrap: wrap; */
    padding: 0.5em;
    border: 1.5px solid lightgray;
    /* border-radius: 0.5em; */
}

.bm-rc-container  * {
    text-overflow: ellipsis;
    line-height: normal !important;
}

.bm-rc-container > *:first-child {
    height: 95%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.bm-rc-container img {
    height: 80%;
}

.bm-rc-text {
    text-overflow: ellipsis;
}
.bm-rc-text a {
    text-overflow: ellipsis;
    text-decoration: unset;
    color: unset;
    font-size: 1.5em;
}
.bm-rc-text a:hover {
    text-decoration: unset;
    color: unset;
}
.bm-rc-text > *:not(:last-child) {
    margin-bottom: 0.5em;
    display: block;
}

.card-title-text{
    font-size: 1.3em;
    font-weight: 500;
}
