<!-- <div class="container login-container">
    <div class="card">
        <div class="card-content">

            <h3><i class="fas fa-book-reader"></i>Bookmarker</h3>
            <div class="section">
                <p class="lead">
                    Find books and connect to people like you.
                </p>
            </div>

            <div class="divider"></div>

                
            
        </div>
    </div>
</div> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">  

<div class="cover">
<form class="row login" [formGroup]="checkoutForm" (ngSubmit)="submitForm(checkoutForm.value)">
    <div class="col s12 14 offset-14">
        <div class="card">

            <div class="card-action red white-text">
                <h3>Login Form</h3>
            </div>

            <div class="card-content">

                <div class="field">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" formControlName="username">
                </div>
                <p class="error-message" *ngIf="username().errors?.required && submitted">Username is required!</p>
                <br>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" formControlName="password">
                </div>
                <p class="error-message" *ngIf="password().errors?.required && submitted">Password is required!</p>
                <p class="error-message" *ngIf="message && submitted">Username or password is not valid!</p>
                <br>

                 <div class="form-field center-align">
                     <button type="submit" class="btn-large red">Login</button>
                      <a [routerLink] = "['/register']">
                        <button class="btn-large red">Register</button>
                      </a>
                 </div><br>       
                
                <h3 style="text-align: center;"><i class="fas fa-book-reader"></i></h3>
                <h3 style="text-align: center;">Bookmarker</h3>
                <div class="section">
                    <h5 class="lead center-align">
                        Find books and connect to people like you.
                    </h5>
                </div>

                 <!-- <div class="googleLoginBtn center-align g-signin2" data-onsuccess="onSignIn"> -->
                    <!-- <label>You can also login with google account!</label><br><br>
                    <button class="btn red darken-1" (click)="loginWithGoogle()">
                        <i class="fab fa-google left"></i>Log in with Google
                    </button> -->
                 <!-- </div> -->
                
                 <!-- <div class="section center-align" >
                    <label>Or you can</label><br><br>
                    <button id="guest" class="btn red darken-1" (click)="loginWithGoogle()">
                        Continue as Guest
                    </button>
                 </div> -->
            </div>
        </div>
    </div>
</form>
</div>
