.carousel{
    height: 500px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/218/845/non_2x/colorful-holographic-gradient-background-design-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.slideshow{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.top{
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);    
}


img{
    height: 100%;
    width: 100%;
}

.imgdiv{
    height: 100%;
}

h3{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
    font-size: 2vw;
    color: #484848 !important;
}

.row{
    height: 100%;
}

.col.s4{
    height: 100%;
}

img{
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topCard{
    height: 100px;
}

.coverCard{
    height: 400px;
    margin-top: 20px;
}

h5{
    cursor: pointer;
}

.fa.fa-star{
    color: #ffab00;
}

.fa-star{
    color:#ffab00;
}

@media only screen and (max-width: 700px) {
    .carousel {
      height: 650px;
    }

    .imgdiv{
        height: 75%;
    }
  }